name = "cloud-mail"
main = "src/index.js"
compatibility_date = "2025-06-04"


[observability]
enabled = true

[[d1_databases]]
binding = "db"
database_name = "cloud-mail" # 数据库的名称
database_id = "e6d53900-ce66-4f21-b756-d0eea883851c" # D1数据库ID

[[kv_namespaces]]
binding = "kv"
id = "ac28d1b1a8854496a5322d438f764d6e" # KV命名空间ID

[[r2_buckets]]
binding = "r2"
bucket_name = "cloud-mail-bucket" # R2存储桶名称

[assets]
binding = "assets"		#静态资源绑定名默认不可修改
directory = "./dist"	#前端vue项目打包的静态资源存放位置,默认dist
not_found_handling = "single-page-application"
run_worker_first = true

[triggers]
crons = ["0 16 * * *"]	#定时任务每天晚上12点执行


[vars]
#orm_log = false
domain = ["ymimi.qzz.io", "8818618.xyz"]				#邮件域名
admin = "admin@8818618.xyz"				#管理员的邮箱
jwt_secret = "${JWT_SECRET}"			#jwt令牌的密钥

linuxdo_client_id = "${LINUXDO_CLIENT_ID}"
linuxdo_client_secret = "${LINUXDO_CLIENT_SECRET}"
linuxdo_callback_url = "${LINUXDO_CALLBACK_URL}"
linuxdo_switch = "${LINUXDO_SWITCH}"

[build]
command = "pnpm --prefix ../mail-vue install && pnpm --prefix ../mail-vue run build"
